.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.reportview-container .main .block-container {
    max-width: 100%;
}

.stProgress {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
